02_assign/src/.cm/GUID/csc330.sml
02_assign/src/.cm/GUID/main.sml
02_assign/src/.cm/GUID/set.sml
02_assign/src/.cm/GUID/testing.sml
02_assign/src/.cm/SKEL/csc330.sml
02_assign/src/.cm/SKEL/main.sml
02_assign/src/.cm/SKEL/set.sml
02_assign/src/.cm/SKEL/testing.sml
02_assign/src/.cm/x86-unix/csc330.sml
02_assign/src/.cm/x86-unix/main.sml
02_assign/src/.cm/x86-unix/set.sml
02_assign/src/.cm/x86-unix/testing.sml
02_assign/set-image.x86-linux

03_assign/src/.cm/*
04_assign/src/.cm/*
in_class_work